# Ignore build directory
build/

# Ignore executable files
*.exe
*.out
a.out
*.vsix

# Ignore Visual Studio Code settings
.editor/vscode/.vscode/
.editor/vscode/.vscode-test/
.editor/vscode/node_modules/

# Ignore CMake files
CMakeCache.txt
CMakeFiles/
cmake.check_cache
.cmake/
